body {
  margin: auto;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: rgb(15, 15, 108);
  color: aliceblue;
}
body a {
  text-decoration: none;
  color: antiquewhite;
  transition: all 0.3s;
}
body a:hover {
  color: red;
  text-decoration: underline;
}
.box-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 40px;
}

img {
 max-width: 100%;
 height: auto;
}

/* @media (min-width: 1000px) {
  .box-1 {
    display: flex;
  }
} */
